<%= render "layouts/navbar", path: root_path, title: "register" %>

<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       class: "mt-5") do |f| %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
                            placeholder: "Full Name",
                            aria: { label: "Full Name" },
                            required: true,
                            class: "my-form-control" %>
  <hr class="my-form__hr">  <!-- ! horizontal line -->
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                              placeholder: "Email",
                              aria: { label: "Email" },
                              required: true,
                              class: "my-form-control" %>
  </div>
  <hr class="my-form__hr">  <!-- ! horizontal line -->
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password",
                                    placeholder: "Password, #{@minimum_password_length} characters minimum",
                                    aria: { label: "Password" },
                                    required: true,
                                    class: "my-form-control" %>
  </div>
  <hr class="my-form__hr">  <!-- ! horizontal line -->
  <div class="field">
    <%= f.password_field :password_confirmation,
                         autocomplete: "new-password",
                         placeholder: "Confirm Password",
                         aria: { label: "Confirm Password" },
                         required: true,
                         class: "my-form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Next", class: "submit-btn" %>
  </div>
<% end %>
