<p style="color: green"><%= notice %></p>

<%= render @transaction_detail %>

<div>
  <%= link_to "Edit this transaction detail", edit_transaction_detail_path(@transaction_detail) %> |
  <%= link_to "Back to transaction details", transaction_details_path %>

  <%= button_to "Destroy this transaction detail", @transaction_detail, method: :delete %>
</div>
